* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.painttool-main {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.painttool-canvas {
  border: 6px #96acac solid;
  border-top: 10px #96acac solid;
}

.painttool-header {
  display: flex;
  width: 100%;
  height: 3vw;
  background: #c2d6d6;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.painttool-header-title {
  left: 0;
  position: absolute;
  margin: 1vw;
  color: #96acac;
}

.painttool-header-title h1 {
  font-weight: 100;
}

.painttool-header-erase {
  margin: 1vw;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5vw;
  font-size: 0.8vw;
  background: white;
  border-radius: 0.5vw;
  transition: 0.5s;
}

.painttool-header-erase:hover {
  background: rgb(184, 184, 184);
}

.painttool-header-size {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0.3vw;
  font-size: 0.8vw;
  width: 8vw;
  height: 2.5vw;
  background: white;
  border-radius: 0.5vw;
  margin: 10px;
}

.painttool-header-size input {
  margin-top: 0.1vw;
  -webkit-appearance: none;
  background: #c2d6d6;
  border-radius: 0.5vw;
}

.painttool-header-size input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.7vw;
  height: 0.7vw;
  background: #96acac;
  border-radius: 0.5vw;
  cursor: pointer;
}

.painttool-header-color {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0.3vw;
  font-size: 0.8vw;
  width: 8vw;
  height: 2.5vw;
  background: white;
  border-radius: 0.5vw;
  margin: 10px;
}

.painttool-header-color input {
  width: 50%;
  height: 50%;
  border: none;
  background: none;
  outline: none;
  font-size: 0.8vw;
  color: #96acac;
}